.App {
  text-align: center;
}

.App__Title {
  font-family: Helvetica;
  font-size: 5em;
  text-align: center;
}

@media (min-width: 320px) and (max-width: 480px) {

  .App__Title {
    margin: 0;
    font-size: 3em;
  }

}
